*{
    margin: 0;
    padding: 0;
}

body{
    background-color: teal;
    text-align: center;

}


.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: crimson;
    background-color: #ffffc7;

}

#reset-btn{
    padding: 1rem;
    margin: 0.25rem;
    font-size: 1.5rem;
    background-color: rgb(255, 68, 0);
    color: azure;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: azure;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:rgb(220, 247, 20);
    font-size: 6vmin;
}

.msg-container{
    height: 80vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}

.hide{
    display: none;
}

#tt{
    padding: 2.25rem;
    font-family:'Comic Neue', cursive;
    font-weight: 900;
}